<div class="plant-main-content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre común</th>
        <th scope="col">Tipo</th>
        <th scope="col">Clima</th>
      </tr>
    </thead>
    <tbody *ngFor="let plant of plantsList; let indexOfelement = index">
      <tr>
        <th scope="row">{{ indexOfelement + 1 }}</th>
        <td>{{ plant.nombre_comun }}</td>
        <td>{{ plant.tipo }}</td>
        <td>{{ plant.clima }}</td>
      </tr>
    </tbody>
  </table>

  <div class="number-plants">
    <p class="label-num-plant">Total plantas de interior:</p>
    <p>{{ numInPlants }}</p>
  </div>
  <div class="number-plants">
    <p class="label-num-plant">Total plantas de exterior:</p>
    <p>{{ numOutPlants }}</p>
  </div>
</div>
